html{
    width: 100%;
    height: 100%;
    background-color: #595959;
    /* display: flex;
    flex-direction: wrap;
    justify-content: center; */
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    
}
nav-bar{
    width: 100%;
    height: 5%;
    background-color: #808F85;
    border: 1px solid #595959;
    text-align: center;
}

nav-bar>a{
    text-decoration: none;
    color: #F2E9DC;
    
}
main-section{
  
   margin-top: 5%;
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#mainSelect{
    width: 100%;
    height: 20vh;
    text-align: center;
}
.tab tr{
page-break-after: always;
}
header{
    position: relative;
    top: 10%;
    text-align: center;
    width: 100%;
    height: 10%;
  
}

#accountSelect, #customerSelect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px steelblue ridge;
    border-bottom: 0px;
    width: 600px;
    height: 500px;
    background-color: #595959;
    box-shadow: #595959  10px 0px 10px ;

}
#accountSelect>input, #customerSelect>input {
    width: 70%;
    height: 8%;
    border-radius: 1%;
    border-style: ridge;
}

.accountDiv{
    width: 60%;
    min-height: 100px;
    border: 5px steelblue ridge;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2E9DC;
} 

footer{
    background-color: gray;
    height: 10%;
    width: 100%;
    color: aliceblue;
    text-align: center;
    position: absolute;
    bottom: -75%;
}
.accountDiv>form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.accountDiv>form>input,.accountDiv>form>button  {
    width: 100px;
    height: 50px;
    border-radius: 1%;
    border-style: ridge;
    
}
