body {
  background-color: darkslategray;
  color: black;
  font-size: 1.1 em;
}
h1 {
  color: coral;
}
#intro {
  font-size: 1.3 em;
}
.colorful {
  color: orange;
}
section {
  border: 5 px solid black;
  padding: 10px;
  background-color: #dbfffe;
}
/* div>h2{
    color:red;
} */
h1 + h2{
    border: 1px solid yellow;
}