table {
    width: 200px;
    height: 300px;
    text-align: center;
    border: 5px solid green;
 }
 
 th, td {
    border: 1px solid red;
 }
 
 input:hover {
    background-color: coral;
    color: white;
 }
 #answer{
   height: 80%;
   width: 90%;
   text-align: right;
   font-weight: bold;
 }
 table input{
  background-color: red;
  height: 100%;
  width: 100%;
  color: white;

 }